.REG
{
  font-family: Arial, sans-serif;
padding: 60px;
border-radius: 5px;
box-shadow: 1px 1px 40px rgba(0, 0, 0, 0.8);
display: flex;
justify-content: right;
align-items: center;
height: 100vh;
background-image: url("https://img.freepik.com/premium-photo/empty-room-interior-with-armchair-decorating-idea-white-wall-background-3d-rendering_41470-4375.jpg?w=996");
background-repeat:no-repeat;
background-size: cover;
align-items: center;

}
.sy{
  padding: 60px;
border-radius: 20px;
box-shadow: 1px 1px 40px rgba(0, 0, 0, 0.8);
backdrop-filter: blur(70px); 
}